
<div class="banner" >
	<div class="overlay">

		<div class="page-title">
      <%= image_tag("carrot_2.png", :class=>"banner-image", :alt => "logo") %>
			<p class="banner-text"><i>Questions</i></p>
		</div>
	</div>
	<%= render 'navbar' %>
</div>

