
<nav class="navbar navbar-toggleable-md">
  <div class="container-fluid">
      <ul class="list-inline nav-list row mb-0">
        <li class="pull-left hidden-nav">
          <a class="" href="index.html">
            <%= image_tag("carrot.png", :class=>"navbar-logo", :alt => "logo", :width => '40', :height => '40') %>
          </a>
        </li>
        <li class="padding-3">
          <a class="nav-link" href="#">Recent</a>
        </li>
        <li class="padding-3">
          <a class="nav-link" href="#">Most Answered</a>
        </li>
        <li class="padding-3">
          <a class="nav-link" href="#">Most Commented</a>
        </li>
        <li class="padding-3 ">
          <a class="nav-link" href="popular.html">Popular</a>
        </li> 
        <li class="padding-3">
          <div class="">
            <form class="form-inline my-sm-0">
              <input class="form-control mr-sm-2 nav-search-bar" type="search" placeholder="Search">
            </form>
          </div>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-success btn ask-button" data-toggle="modal" data-target="#new_question">Ask a Question</button>
        </li>
      </ul>
  </div>
</nav><!-- /navbar -->
