<!-- NOTE: Commented out sections are placeholder for when the backend is merged with the front. Current solution is static for styling and testing purposes. -->

<div class="modal fade text-muted" id="new_question" tabindex="-1" role="dialog" aria-labelledby="New Question Modal">

  <div class="modal-dialog question-modal" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">

      </div>
      <div class="modal-body">
          <%= render 'questions/form', question: question %>
      </div>
      <div class="modal-header bg-success text-white">
      </div>
    </div>
  </div>
</div>

