<h4 class="card-title">Top Answer</h4>
<div class="card-text" role="tab" id="headingOne">
  <div class="row ml-2 pb-2">
    Anywhere from 20-60 hours a week, depending on your tolerance to caffeine and social awkwardness.
    <small class=""><i>Answered by Muffy Barkocy on May 26, 2017 at 5:36 PM</i></small>
  </div>
  <small><a href="#"> See All Answers </a></small>
</div><!-- /card-text -->