<!-- Will redirect to Google Login Page -->
Welcome to Instasmart. Please login!

<button class="btn btn-large btn-success">
	<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
</button>

