<%= form_for [@context, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", placeholder: "Enter your comment here", rows: 10 %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>