<h1>Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active?</th>
  </tr>
  <tr>
  <% @users.order("first_name ASC").each do |user| %>
    <td><%= user.id %></td>
    <td title="Name"><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
    <td><%= mail_to user.email %></td>
    <td><%= user.active.to_s.capitalize %></td>
  </tr>
  <% end %>
</table>

