<% if answer.user == current_user %>
	<div class="container">
		<div class="row">
			<small><ul class="list-inline">
				<li class="list-inline-item"><%= link_to "Edit", edit_question_answer_path(question, answer) %></li>
				<li class="list-inline-item">
					<%= link_to [question, answer], method: :delete, remote: true do %>
				  	Delete
					<% end %>
				</li>
			<ul></small>
		</div>
	</div>
<% end %>