<h1>All the Tags</h1>

<table>
  <tr>
    <th>Tag</th>
    <th>Questions Count</th>
  </tr>
  <% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag_path(tag) %></td>
    <td><%= tag.questions.count %></td>
  </tr>
  <% end %>
</table>
