

/***************** Offsets **********************/

$banner-top-padding-lg: 25px;
$banner-top-padding-sm: 10px;
$banner-text-sm: 46px;
$banner-text-lg: 96px;
$banner-width-lg: 150px;
$banner-height-lg: 150px;

$show-question-banner-height-lg: 160px;