
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
<<<<<<< HEAD
  background-image: url("../images/background.jpg");
  background-size: 100%
}
=======
  background-image: url("../images/carrots.jpg")
}
>>>>>>> 8f5a7608118170f3e6279cbaf7d6880abdf7e077
