 <!-- Questions Section -->
 <div class="row px-3">
   <div class="col-12">
     <div class="card-deck">
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">Top Questions</h3>
           <p>Test your expertise and check out our top questions!</p>
           <p class="card-text">
           </p>
           <a href="#" class="btn btn-primary">Answer</a>
         </div>
         <div class="card-footer">
         </div>
       </div>
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">Popular Tags</h3>
           <p class="card-text">Explore popular tags on InstaSmart</p>
           <a href="#" class="btn btn-primary">Check it out</a>
         </div>
         <div class="card-footer">
         </div>
       </div>
       <div class="card">
         <div class="card-block">
           <h3 class="card-title">Popular Tags</h3>
           <ol class="list-unstyled">
             <li class="m-1 badge badge-info"><h3>Growth</h3></li>
             <li class="m-1 badge badge-info"><h3>Culture</h3></li>
             <li class="m-1 badge badge-info"><h4>Engineering</h4></li>
             <li class="m-1 badge badge-info"><h5>Profitability</h5></li>
             <li class="m-1 badge badge-info"><h5>Happiness</h5></li>
             <li class="m-1 badge badge-info"><h6>Rails</h6></li>
             <li class="m-1 badge badge-info"><h6>React</h6></li>
           </ol>
         </div>
         <div class="card-footer">
         </div>
       </div>
     </div>
 </div>
</div><!-- Questions Section -->