<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" style="background-color: #68BF54">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">InstaSmart</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Questions</a>
         <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Ask a Question</a>
          <a class="dropdown-item" href="#">Top Questions</a>
          <a class="dropdown-item" href="#">Unanswered Questions</a>
          <a class="dropdown-item" href="#">By Category</a>
           <a class="dropdown-item" href="#">By Tag</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tags</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Search Tags</a>
          <a class="dropdown-item" href="#">Popular Tags</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Search by Username</a>
          <a class="dropdown-item" href="#">Register</a>
        </div>
      </li>
    </ul>

    <div class="">
      <% if current_user %>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button type="button" class="btn btn-outline-secondary">Search</button>
          <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-outline-secondary mx-1" %>
          <a href="<user_profile_page>"><%= image_tag current_user.image, class: "img-fluid profile_thumbnail" %></a>
        </form>
      <% else %>
        <%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</nav> <!-- NAV BAR  -->
