
    <div class="landing-page">
      <div class="overlay">

      <!-- NAVBAR -->

      <%= render 'landing_navbar' %>

  <div>
      <!-- JUMBOTRON-->
      <div class="jumbotron text_color">
        <h1 class="display-3">Welcome to InstaSmart</h1>
        <p>InstaSmart is an online forum created by the CarrotU class of Spring 2017. We welcome all software developers of any level, education or background. Sign up and start asking and answering questions now!</p>
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg px-5" data-toggle="modal" data-target="#new_question">Ask a Question</button>
        </div>
      </div>

      <%= render 'landing_cards' %>


    </div><!-- end of overlay -->

      <footer>
        <p>&copy; Instacart 2017</p>
      </footer>
   </div>

